.projects {
  min-height: 80vh;
  background: $color-light;
  padding: 0 !important;

  &-title {
    background: #fff;
    height: 25%;

    &-text {
      height: 100%;
    }
  }

  .swiper {
    height: 70%;
    padding: 2rem 0;
    position: relative;
    @include flex(center, stretch, column);

    &-container {
      border: 2px solid rgb(255, 0, 128);
      margin-top: 2rem;
      height: 100%;
      width: 100%;
    }

    &-slide {
      border: 4px solid rgb(0, 255, 200);
      height: 100%;
      width: 100%;
    }

    &-pagination {
      height: 20%;
      text-align: center;
      border: 2px solid rgb(0, 255, 34);
      @include flex(center);


      &-switch {
        margin-top: 8rem;
        display: inline-block;
        width: 15px;
        height: 15px;
        background: rgba(255, 255, 255, 0);
        border-radius: 50%;
        margin: 0 0.75em;
        cursor: pointer;
        box-shadow: 0 0 0 0.25em rgba(0, 0, 0, 0.15);
        transition: 0.15s all linear;

        &:hover {
          background: #808080;
        }
      }
    }
  }

  &-card {
    @include container;
    @include flex(center);
    padding: 0 4rem;

    &-laptop {
      width: 100rem !important;
    }

    &-text {
      height: 40%;
      @include flex(space-between, baseline, column);

      .subtitle {
        font-size: 2rem;
      }

      .title-black {
        font-size: 2.5rem;
        text-transform: capitalize;
      }

      .black-btn {
        padding: .8rem 6rem;
      }
    }
  }

  @include media (iniPad) {
    &-card {
      padding: 0 .5rem 0 2rem;

      &-laptop {
        width: 75rem;
      }
    }

  }

  @include media (inTablet) {
    background: none;

    .swiper {
      padding: 0;

      &-container {
        margin-top: 0;
        height: 100%;
      }

      &-pagination {
        display: none;
      }
    }

    &-card {
      height: 100% !important;
      flex-direction: column;
      align-items: center;
      margin-bottom: 0;

      &-laptop {
        max-width: 70vw;
      }

      &-text {
        order: 2;
        padding: 2rem;
        align-items: center;
        text-align: center;

        .subtitle,
        .title-black {
          margin-bottom: 2rem;
        }

      }
    }
  }

  @include media (inPhone) {
    &-card {
      flex-direction: column;
      align-items: center;
      padding: 0;
      margin: 0;


      &-laptop {
        max-width: 90vw;
      }

      &-text {
        .title-black {
          font-size: 2.2rem;
        }

        text-align: center;
      }
    }
  }
}

.swiper-slide {
  height: 100%;
  width: 100%;
}