.work {
  height: 100vh !important;
  padding: 0 !important;

  &-title {
    max-height: 25rem;

    &-text {
      height: 100%;
    }
  }

  .swiper {
    height: 70%;
    position: relative;
    @include flex(center, stretch, column);
    background: $color-light;

    &-container {
      // padding-top: 4rem;
      height: 100% !important;
      width: 100%;
      @include flex(center, center, column);
    }

    &-slide {
      height: 100%;
      width: 100%;
    }

    &-pagination {
      bottom: 3rem;
    }
  }

  &-card {
    width: 100% !important;
    @include container;
    @include abs-center;
    @include flex(center);

    &-laptop {
      width: 75rem !important;
    }

    &-text {
      height: 40%;
      margin: 0 !important;
      @include flex(space-between, baseline, column);

      .subtitle {
        font-size: 2rem;
      }

      .title-black {
        font-size: 2.5rem;
        text-transform: capitalize;
      }

      .black-btn {
        padding: .8rem 6rem;
      }
    }
  }

  @include media (inLaptop) {

    &-card {

      &-laptop {
        width: 61rem !important;
      }
    }
  }

  @include media (iniPad) {
    height: 60vh;

    .swiper {
      height: 50rem !important;

      &-container {
        // padding-top: 4rem;
      }
    }

    &-card {
      padding: 0 .5rem 0 2rem;

      &-laptop {
        width: 45rem !important;
      }
    }

  }

  @include media (inTablet) {
    height: 80vh !important;

    &-title {
      // height: 10% !important;
    }

    .swiper {
      padding: 0;
      height: 50vh;
      background: none;

      &-container {
        margin-top: 0;
        height: 100%;
      }

      &-pagination {
        display: none;
      }
    }

    &-card {
      height: 100% !important;
      flex-direction: column;
      align-items: center;
      margin-bottom: 0;

      &-laptop {
        width: 90% !important;
        max-width: 50rem !important;
      }

      &-text {
        order: 2;
        padding: 2rem;
        align-items: center;
        text-align: center;
        width: 90% !important;

        .subtitle,
        .title-black {
          margin-bottom: 1rem;
        }

      }
    }
  }

  @include media (inPhone) {

    // height: 100vh !important;
    .swiper {
      // height: 80% !important;
    }

    &-card {
      flex-direction: column;
      align-items: center;
      padding: 0;
      margin: 0;


      &-laptop {
        max-width: 90vw;
      }

      &-text {
        .title-black {
          font-size: 2rem;
        }

        .subtitle,
        .title-black {
          margin-bottom: 0rem;
        }

        text-align: center;
      }
    }
  }
}

.swiper-slide {
  height: 100%;
  width: 100%;
}