.navbar-mobile {
  min-width: $phone;

  &-line {
    width: 100vw;
    height: 3px;
    background-image: linear-gradient(to right, $color-brand2, $color-brand4);
    // margin-left: -2.1rem;
  }

  &-nav {
    @include flex (space-between);
    padding: 1rem 2rem 0 2rem;
    height: 5.5rem;

    &-link {

      &-img,
      &-logo {
        height: 3rem;
        width: auto;
      }
    }

    // menu hamburer button
    &-menu {
      border: none;
      position: absolute;
      background-color: transparent;
      height: 5rem;
      width: 5rem;
      z-index: 2000;
      top: .3rem;
      left: 1.2rem;
      border-radius: 50%;
      cursor: pointer;
      transition: all .2s;
      padding: .7rem;

      & div {
        background-color: $color-brand2;
        height: 2px !important;
        position: absolute;
        transition: all .3s;
        z-index: 2200;
        width: 3rem;
        left: calc((5rem - 3.5rem) /2);

        &:nth-of-type(1) {
          top: 1.4rem;
        }

        &:nth-of-type(2) {
          transition: none !important;
          top: calc(50% - 1px);
        }

        &:nth-of-type(3) {
          bottom: 1.4rem;
        }
      }
    }
  }

  @include media(tablet) {
    display: none;
  }

  &-content {
    &-bg {
      height: 4.8rem;
      width: 4.8rem;
      position: fixed;
      z-index: 1000;
      top: .5rem;
      left: 1.2rem;
      border-radius: 50%;
      transition: all .3s;
      background-image: radial-gradient(rgb(0, 0, 0), rgb(26, 26, 26));
      transform: scale(0);

    }

    &-list {
      transform-origin: top left;
      @include vertical-align;
      position: fixed;
      text-align: left;
      color: #fff;
      z-index: 2000;
      height: 60%;
      width: 100%;
      z-index: 2000;

      ul {
        list-style: none;
        height: 100%;

        li {
          width: 12rem;
          font-size: 2.4rem;
          margin-bottom: 5vh;
        }
      }
    }

    &-logo {
      height: 5rem;
      width: auto;
      margin-bottom: 5vh;
    }
  }
}