.cardV1 {
  height: 30rem;
  max-width: 40rem;
  // background: $color-light;
    background: radial-gradient(ellipse at center, $color-light 12.5%, darken($color-light,5%) 93.75%);
  border-radius: 1rem;

  @include on-event () {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1) !important;
  }
}
