// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

*,
::after,
::before {
  outline: 0;
  margin: 0;
  padding: 0;
  box-sizing: inherit
}

html {
  box-sizing: border-box;
  font-size: 62.5% !important;
  max-width: 100vw;


  overflow-x: hidden;

  @include media(desktop) {
    font-size: 75% !important; //12px
  }

  @include media(ultraHD) {
    font-size: 87.5% !important; //16px
  }
}


main,
header,
section {
  width: 100% !important;
  padding-top: 2rem !important;
  margin-bottom: 2rem !important;
  // border: 1px solid #00f;

  @include media (inLaptop) {
     min-height: 60rem !important;
  }

  @include media (desktop) {
    margin-bottom: 9rem !important;
      min-height: 80rem;
  }

  @include media (inPhone) {
    margin-bottom: 5rem !important;
  }
}

// *:focus {
//   outline: none !important;
// }

// button::-moz-focus-inner {
//   border: 0;
// }

.noSelect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}


// ::selection {
//     background: #e5eff1;
//     /* WebKit/Blink Browsers */
//     color: $color-primary;
// }

// ::-moz-selection {
//     background: #ebebeb;
//     /* Gecko Browsers */
//     color: $color-primary;
// }

// button:focus,
// button:active {
//     outline: none !important;
//     outline: 0 !important;
// }

// button::-moz-focus-inner {
//     border: 0;
// }

// // input::placeholder {
// //     color: rgb(182, 36, 158);
// //     opacity: .5;
// // }

// input::-moz-focus-inner {
//     border: 0;
//     border: none;
// }