/**
 * Basic typography style for copy text
 */

body {
  color: $color-dark;
  font-weight: 300;
  line-height: 1.6;
  font: normal 125% / 1.4 $text-font;
  // background: $color-light;
  font-size: 1.6rem;
}

@mixin title {
  font-size: 6.5rem;
  color: #fff;
  text-shadow: 0 0 .3rem rgba(0, 0, 0, 0.3), 0 .4rem .65rem rgba(0, 0, 0, 0.33);
  font-style: normal;
  font-stretch: normal;
  margin-bottom: 1.5rem;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
  transition: all .2s;

  @include media (iniPad) {
    font-size: 4rem !important;
    line-height: 1.2;
  }

  @include media (inPhone) {
    font-size: 3.5rem !important;
  }
}

.title-main {
  @include title;
}

.hero-tileV1 {
  position: relative;
  @include title;
  @include flex (center);

  &::before {
    content: url('../assets/design/bullet_home_titles.png');
    position: relative;
    left: -2rem;
  }

  @include media (inTablet) {
    color: $color-black;
    text-shadow: none;

    &::before {
      content: "" !important;
    }
  }
}

.hero-tileV2 {
  @include title;
  font-family: "Ubuntu", sans-serif;
  font-weight: 100;
  letter-spacing: .2rem;

  @include media (iniPad) {
    font-size: 4rem;
  }

  @include media (inPhone) {
    font-size: 3rem;
  }
}

.subtitle {
  font-size: 1.4rem;
  font-weight: 100;
}

.title-black {
  text-transform: uppercase;
  color: $color-black;
  font-size: 2rem;
  font-weight: bold;
}

@mixin Quote {
  margin: 0 auto;
  padding-left: 19.5px;
  padding-right: 19.5px;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
  font-style: normal;
  font-stretch: normal;
}

.Quote-V1 {
  @include Quote;
  font-size: 3rem;
  font-weight: 700;

  @include media (inTablet) {
    font-size: 2.5rem;
  }

  @include media (inPhone) {
    font-size: 2rem;
  }
}

.Quote-V2 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  @include Quote;
  font-size: 2.5rem;

  @include media (inTablet) {
    font-size: 2rem;
  }

  @include media (inPhone) {
    font-size: 1.6rem;
  }
}